<% content_for :page_title do %>
Calendar
<% end %>

<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" %>

<div class="bubble">
  <%= raw(event_calendar) %>

</div>
