<% content_for :page_title do %>
Editing Post
<% end %>

<h1>Editing Post</h1>
<div class="entry">
  <%= render 'form' %>

  <%= link_to 'Back', @blog_post %> |
  <%= link_to 'Live Blog', blog_posts_path %>
</div>
