<% content_for :page_title do %>
Editing user
<% end %>
<div id="content">
  <div class="bubble">
    <%= render 'form' %>
  </div>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
