<% content_for :page_title do %>
Editing Event
<% end %>
<div id="content">
<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'All Events', events_path %>
<br />
<br />
</div>
