<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for signing up on robotics.stratosphe.re!</h1>
    <p>
      You have successfully signed up!
    </p>
    <p>
      Your username is your e-mail address.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @login_url %>.  No need to validate - we're not nazis.
    </p>
    <p>Thanks for joining!  Report any problems to <a href='mailto:dlazzeri1@gmail.com'>the devs</a>.</p>
  </body>
</html>
