<div id="content">
<h2>Events</h2>
<p class="text">Fortunately, through the efforts of our teachers, mentors, sponsors, and our students, we have had the resources to reach out past Aurora, beginning in our rookie year. Three years ago, we supported another team from George Washington High School and have maintained a relationship with them since. This year, we have shared our meetings with the Cherry Creek High School Team in an effort to help them start out as a rookie team, similar to the aid Team 1583 extended to us our maiden year. Currently, we are in the process of drafting and sending letters to the Colorado rookie teams, welcoming them to FIRST and offering our backing. This year, alone, we have shared our enthusiasm for STEM-related topics with over 600 elementary and middle-schoolers through various scouting troop presentations and school activities, with the goal of sparking some interest in STEM fields among the younger students. For us, though, lectures and demonstrations are simply the tip of the ever-expanding iceberg.</p>

<p class="text">FIRST 3729 participates in a wide variety of events including school, community, scout troop, and company presentations, as well as community events.</p>

<p class="text">If you are interested in having FIRST 3729 participate in your event, please <%= link_to "contact us", '/community/contact' %>.</p>
</div>
