<div id="content">
<h2>Outreach</h2>
  <p class="text">"As a self-taught programmer, I have had numerous opportunities to interact and learn from the professional programming community that I aspire to join in a few years," exclaims senior captain of the programming team, Drew Lazzeri. Team 3729's participation in various engineering and robotics events including the Engineering Week Conference in Denver and the Sparkfun Autonomous Vehicle Competition has increased as we have continued to network and involve ourselves in the world of STEM fields. The Conference presented us with a chance to converse with engineering companies on the topics of robot construction, scholarship and internship applications, and general engineering questions. In early June, Sparkfun, a local small electronics and computer parts manufacturer, hosted an autonomous vehicle competition where 3729 set up their robot and conversed with fellow robotics enthusiasts. Through activities like this one, we can disseminate information about FIRST while simultaneously learning from the colorful, knowledgeable community surrounding us.</p>

<p class="text">The most important part of Team 3729, however, is not the robot, nor the team members, but our determination to transform the culture around us as “men and women with and for others.” We volunteer at the Comfort Café, a non-profit kitchen serving the needy in the greater Denver area. Alongside this, we have presented at schools like Highline Elementary; locations with high-risk student populations, in an attempt to foster hope in these children and inspire them to pursue STEM careers. Our time spent with the poor and marginalized has given us a first-person insight into the problems we have the potential to solve within our lifetimes. Our experiences have forced us to ask questions whose answers lie in the STEM fields and has prompted 3729’s donation of time, talent, and treasure to the community that has given so much to us. Ultimately, soup kitchens and elementary schools are only the starting point for the service work that FIRST Team 3729 Raiders will be performing for the rest of our lives."</p>

<h3>History</h3>

<p class="text">Places we have presented:
<ul>
<li>Highline Elementary (2013)</li>

<li>Belleview Elementary (2012)</li>

<li>Cub Scout Meetings (2012)</li>

<li>Regis Jesuit High School (2011, 2012)</li>

<li>Various elementary schools in the greater Denver area (2011-2013)</li>
</ul>
</p>
<p class="text">Places we have volunteered:
<ul>
<li>Comfort Kitchen Soup Kitchen (2012)</li>
</ul>
</p>
<p class="text">Other Community Events:
<ul>

<li>SparkFun Autonomous Vehicle Competition (2012)</li>
<li>Engineering Week Conference in Denver (2012)</li>
</ul>
</p>
<br />
</div>
