<div id="content">
<h3>What are sponsors/donors?</h3>
<p>Sponsors and donors are corporations, businesses, organizations, or private parties who assist FIRST Team 3729 through the donation of finances or materials. Sponsors logos are displayed on the robot, as well as listed on the website while donors remain anonymous.</p>

<h3>Why We Need Sponsors</h3>
<p class="text">Since FIRST Team 3729 is a 501 (c) (3)  not-for-profit organization, we require sponsorships and donations in order to pay for the materials needed for robot construction, competition registration, and other team materials. While we are supplied with a small budget from our high school, Regis Jesuit, it is not enough to cover the expenses FIRST Team 3729 must pay, which generally total around $25,000 per year.</p>

<h3>Current Sponsors</h3>
<p class="text">Regis Jesuit High School - Fr. Philip Steele<br />Lockheed Martin - Ingrid DeGreef<br />QinetiQ - Paul Lockhart<br />Hitachi - John Mansfield<br />Air Force Association - Dave Tobin<br />Solidyn Solutions - Mike Pearson and Dave Tobin</p>


<h3>Sponsor FIRST Team 3729</h3>
<p class="text">Contact first3729@gmail.com for more information.</p>

</div>
