<div id="content"><p>
    <h2>FIRST Team 3729</h2>
  </p>
  <p>
  <h3>Mission Statement</h3>
  We celebrate curiosity, diversity, communication, and unity in order to inspire the pursuit of excellence in a light-hearted environment. As men and women with and for others, we continue to serve the community around us while employing the knowledge we’ve gained through FIRST.
  <h3>Regis Mission Statement</h3>
  Regis Jesuit High School, a Catholic educational community that affirms the uniqueness and dignity of individuals, inspires the pursuit of excellence, fosters faith and a commitment to service and justice, and strives to develop a connection to the world community.
  </p>
  <p>
    <h2>Team History</h2>
    Our team began in the fall of 2010, making the transition from Regis Jesuit Space and Aviation Club to Team 3729. Team 3729 received the Rookie All-Star award the 2011 LogoMotion game, which allowed us to travel to St. Louis for the world championships.
    
    In our second year as a team, the number of team members increased to around 15 active members. We placed second in the Rebound Rumble regional competition, and began volunteer work and participation in a number of community events.
    
    Now in our third year as a team, the current number of active members has grown to around 25 students. We continue to meet three to five times a week as we prepare for the Ultimate Ascent competition.
  </p>
</div>
