<div id="content">
  <h2>Our Code</h2>
  <p class="text">We host all of our source code on GitHub, and it is free to download and inspect under the GNU General Purpose Licence v3.  Our code for the 2011 and 2012 seasons can be found <a href="https://github.com/first3729/FRC3729">here</a>, and current code can be found <a href="https://github.com/Eraku/Durneviir">here</a>.</p>  We normally use private repositories on our servers to keep things fast, but we mirror everything to GitHub and update regularly.
  <br />
  <br />
</div>
