<div id="content">
  <h2>Other Stuff We Do</h2>
  <p class="text">We code for a FRC robot about two and a half months out of the year.  Those other nine and a half months are populated with other projects, the robotics-related ones of which are listed here.</p>
  <h3>FRC Java Testing Framework</h3>
  <p class="text">More than half of the time one spends working on a software project entails finding and eliminating bugs in code.  This can be terribly difficult to do when one doesn't have a robot available for testing for whatever reason.  As such, we decided to try making a testing framework for FRC robots in Java that will let one run code in a virtual and physically accurate setting.  Coming soon!</p>
  <h3>This Website</h3>
  <p class="text">This website is coded entirely in Ruby on Rails by a few of the members of our programming team.  You can check out the code on GitHub <a href="https://github.com/Dacilndak/FRC-3729-Web">here</a>.</p>
</div>
