// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$regis_red: rgb(215,35,50);
$text_color: #686868;
$border_gray: #C1DAD7;
$background_color: #E8E8E8;

.bubble {
}

.title {
    border-bottom: 3px solid Black;
}

.footer {
    margin-top: 1em;
    background: #background_color url(images/bg_header.jpg) no-repeat;
    font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
    color: $text_color ;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-right: 5%;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}