
$text_color: #686868;
$regis_red: rgb(215,35,50);
$background_color: #E8E8E8;
$border_gray: #C1DAD7;

.bubble {
    font: bold 16px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
    color: $text_color;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background-color: $background_color;
    margin-right: 5%;
    margin-top: 1em;
    
    /*Roundness!*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    a:link {
	color: black;
    }

}