// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$text_color: #686868;
$regis_red: rgb(215,35,50);
$background_color: #E8E8E8;
$border_gray: #C1DAD7;

.entry {
       font: bold 16px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
       color: #686868 ;
       border-right: 1px solid #C1DAD7;
       border-bottom: 3px solid rgb(215,35,50);
       border-top: 1px solid #C1DAD7;
       letter-spacing: 2px;
       text-align: left;
       padding: 6px 6px 6px 12px;
       background-color: #E8E8E8;
}

.title {
border-bottom: 3px solid Black;
}

.footer {
    background: #E8E8E8 url(images/bg_header.jpg) no-repeat;
    font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
    color: #686868 ;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
//    padding: 6px 6px 6px 12px;
}
