a:link    {
  text-decoration:  none;
  color:            #aaa;}
a:visited {
  text-decoration:  none;
  color:            #aaa;} 
a:hover {
    text-decoration: none;
    color: red;}
a:active  {
  text-decoration:  none;
  color: red;} 

body {
    margin: -16 0 0 0;
    
}
div#header_div {
    background-color: rgb(241,241,241);
}

ul#header_ul li {
    font-weight: bolder;
    padding: 25 0 25 0;
    margin: 0;
    font-size: 2.3em;
    color: #aaa;
    font-family:"Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    letter-spacing: 7px;
}

li#first {width: 22.2%;}
li#first:hover {color: red;}      

li#team {width: 13%;}
li#team:hover {color: red;}            

li#code {width: 12%;}
li#code:hover {color: red;}            

li#build {width: 13%;}
li#build:hover {color:red;}      

li#blog {width: 12%;}
li#blog:hover {color:red;}            

li#community {width: 25%;}
/*li#community:hover {color:red;}*/