a:link    {
  text-decoration:  none;
  color:            #aaa;}
a:visited {
  text-decoration:  none;
  color:            #aaa;} 
a:hover {
    text-decoration: none;
    color: red;}
a:active  {
  text-decoration:  none;
  color: red;} 

body {
    margin: -16 0 0 0;
    min-width: 1000px;
}

div#header_div {
    background-color: rgb(241,241,241);
}

ul#header_ul li {
    font-weight: bolder;
    padding: 25 0 25 0;
    margin: 0;
    font-size: 2.3em;
    color: #aaa;
    font-family:"Avenir", cursive, sans-serif;
    display: inline-block;
}

li#first {width: 22.2%;}

li#team {width: 13%;}

li#code {width: 12%;}

li#build {width: 13%;}

li#blog {width: 12%;}

li#community {width: 25%;}