a:link    {
  text-decoration:  none;
  color:            #aaa;}
a:visited {
  text-decoration:  none;
  color:            #aaa;} 
a:hover {
    text-decoration: none;
    color: red;}
a:active  {
  text-decoration:  none;
  color: red;} 

div#sidebar_div {
    width: 13%;
    background-color: rgb(241,241,241);
    margin: -20 0 0 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin-right: 2%;
}

div#content {
    margin-left: 15%;
}

ul#sidebar_ul li {
    list-style-type: none;
    font-weight: bold;
    padding: -15 0 0 0;    
    font-size: 1.5em;
    color: #aaa;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

li#first {width: 22.2%;}
li#first:hover {color: red;}      

li#team {width: 13%;}
li#team:hover {color: red;}            

li#code {width: 12%;}
li#code:hover {color: red;}            

li#build {width: 13%;}
li#build:hover {color:red;}      

li#blog {width: 12%;}
li#blog:hover {color:red;}            

li#community {width: 25%;}

div#sidebar {
    width: 15%;
}
