a:link    {
  text-decoration:  none;
  color:            #aaa;}
a:visited {
  text-decoration:  none;
  color:            #aaa;} 
a:hover {
    text-decoration: none;
    color: red;}
a:active  {
  text-decoration:  none;
  color: red;} 

div#content_wrapper {
    position: absolute;
    margin-left: 13em;
    margin-right: 8em;
    margin-top: 6em;
    right: 0px;
    left: 0px;
    bottom: auto;
    top: 0px;
    background-color: white;
}

div#content {
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
}
