<%= stylesheet_link_tag "innerpage" %>
<div id="sidebar_div">
  <ul id="sidebar_ul">
    <li>About</li>
    <li>Calendar</li>
    <li>FIRST</li>
    <li>Sign In</li>
    <li>Sign Up</li>
  </ul>
</div>

<div id="content">
  <%= yield %>
  
</div>

<%= parent_layout 'application' %>
